<?xml version="1.0" encoding="utf-8"?>
<select>
	<option
        hisname="Dear Trong An" 
        msg="Happy Birthday!" 
        sender="From nht"
        value1="activeden.net/user/sadfishing/portfolio"
        value2="activeden.net"
        value3="activeden.net/category/flash/animations"
	/>

</select>



